<%= render 'shared/title', title: 'PostBoard'%>


 <% @posts.each do |post| %>
<div>
    <div class="row">
    <div class="well col-md-6">
      <p>
        <h4><%= post.title %></h4>
      </p>
      <p>
        <%= post.content %>
      </p>
      <br>
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href='<%= post_path(post) %>'>Check the comments <span class="badge"><%= post.comments.size %></span></a></li>
      </ul>
    </div>
    </div>

</div>
 <% end %>
 